*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.logo img {
    width: 140px;
    height: auto;
   
}

.center-nav{
    display: flex;

}

.search-bar{
    display: flex;
}
.search-bar input{
    min-width: 500px;
    padding: 10px 20px;
    border-radius: 1px solid rgb(223, 211, 211);
}
.search-bar button{
    border:none;
    padding: 10px 20px;
}
.mic{
    padding: 15px;
    border-radius: 50%;
    background-color: grey;
    display: grid;
    place-items: center;
    margin-left: 15px;
}
.mic img{
    width: 30px;
}
.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* }
.library{
    font-size: 15px;
    display: flex;
    margin-left: 10px;
    width: 12px; 
    color: #000000;
    justify-content: center;
    flex-wrap: wrap;

} */
/* .search1{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 50px;
    bottom:40px ;
    gap: 50px;
    
    
} */
/* .search-text{
display: flex;
 position:relative; */
    /* top: 10px;
    right: 5px;
    flex-wrap: wrap; */
    /* min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc; */
/* }
.second-bar{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   

} */



